<</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="{{ absolute_url(asset('css/bootstrap.bundle.min.js')) }}"></script>

<!-- Menu Toggle Script -->

<script>

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<script></script>

</body>
</html>
