{{ include('hf/header_gestionnaire.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('css/55 year.png')) }}");
        background-color: #cccccc;
    }
</style>
{% block body %}

    </div>

{% endblock %}
{{ include('hf/footer.html.twig') }}
