{{ include('hf/header_gestionnaire.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/magnum.jpg')) }}");
        background-color: #cccccc;
    }
</style>
{% block body %}

    <div style="color: blue"><h1>mission impossible</h1>
    </div>

{% endblock %}
{{ include('hf/footer.html.twig') }}
