{{ include('hf/header_gestionnaire.html.twig') }}
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
{% for chauf in chaufs %}


    <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
        <div class="card-header">{{ chauf.nomchauf }}</div>

        <div class="card-body">
            <p class="card-text">Note:</p>

            <h5 class="card-title">{{ chauf.msg }}</h5>
        </div>
    </div>

{% endfor %}
    </div>    &emsp;


{{ include('hf/footer.html.twig') }}